<a href="https://colab.research.google.com/github/arifnayan2861/DA/blob/main/L_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [20]:
student_nayan = {"name": "Nayan", "age": 23, "department": "CSE"}
print(student_nayan)

{'name': 'Nayan', 'age': 23, 'department': 'CSE'}

In [25]:
def print_student(student):
  for key, value in student.items():
    print(f"{key}: {value}")
print_student(student_nayan)

name: Akash
age: 22
department: CSE
address: Narayanganj

In [7]:
print(student_nayan.get("name"))
print(student_nayan.get("age"))

Nayan
23

In [8]:
print(student_nayan.get("father's name", "Unavailable"))

Unavailable

In [22]:
student_nayan["name"]= "Akash"
student_nayan["age"]= 22
student_nayan["address"]="Narayanganj"
print(student_nayan)

{'name': 'Akash', 'age': 22, 'department': 'CSE', 'address': 'Narayanganj'}

In [26]:
student_akash = student_nayan.copy()
del student_akash["name"]
print_student(student_akash)

age: 22
department: CSE
address: Narayanganj

In [27]:
students = {"nayan": {"age": 23, "address": "narayanganj", "hobbies": ["music", "games"]},
            "farha": {"age": 20, "address": "munshiganj", "hobbies": ["shopping"]}}

In [34]:
def print_nested_students(student):
  for key, value in student.items():
    print(f"{key}:")
    for k, v in value.items():
      print(f"\t{k}: {v}")
print_nested_students(students)

nayan:
	age: 23
	address: narayanganj
	hobbies: ['music', 'games']
farha:
	age: 20
	address: munshiganj
	hobbies: ['shopping']

In [35]:
nums = [1,1,1,1,12,2,2,2,2,2,3,43,4,4,4,4,5,5,6,6,6,7,7,8,8,99,9,9]

In [40]:
nums_dict = {}
for num in nums:
  if num not in nums_dict:
    nums_dict[num] = 1
  else:
    nums_dict[num] += 1
print_student(nums_dict)

1: 4
12: 1
2: 5
3: 1
43: 1
4: 4
5: 2
6: 3
7: 2
8: 2
99: 1
9: 2